
@{
    ViewBag.Title = "Index";
}

@{ 
    var Name = "";
    var institute = "";

    if(TempData.ContainsKey("Name"))
    {
        Name = TempData["Name"] as string;
    }
    if(TempData.ContainsKey("Institue"))
    {
        institute = TempData["Institue"] as string; 
    }
}

<h2>@Name</h2>
<h2>@institute</h2>

